# Hanukka of Data 
## Day 1: The Investigator

In [2]:
import pandas as pd

In [3]:
customers = pd.read_csv("../data/5784/noahs-customers.csv")
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8260 entries, 0 to 8259
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   customerid    8260 non-null   int64
 1   name          8260 non-null   object
 2   address       8260 non-null   object
 3   citystatezip  8260 non-null   object
 4   birthdate     8260 non-null   object
 5   phone         8260 non-null   object
 6   timezone      8260 non-null   object
 7   lat           8260 non-null   float64
 8   long          8260 non-null   float64
dtypes: float64(2), int64(1), object(6)
memory usage: 580.9+ KB

In [4]:
customers.head()

,customerid,name,address,citystatezip,birthdate,phone,timezone,lat,long
0,1001,Jacqueline Alvarez,105N Elizabeth St,"Manhattan, NY 10013",1958-01-23,315-377-5031,America/New_York,40.71817,-73.997468
1,1002,Julie Howell,185-1 Linden St,"Brooklyn, NY 11221",1956-12-03,680-537-8725,America/New_York,40.69426,-73.921670
2,1003,Christopher Ali,174-28 Baisley Blvd,"Jamaica, NY 11434",2001-09-20,315-846-6054,America/New_York,40.68902,-73.773470
3,1004,Christopher Rodriguez,102 Mount Hope Pl,"Bronx, NY 10453",1959-07-10,516-275-2292,America/New_York,40.84939,-73.909160
4,1005,Jeffrey Wilkinson,17 St Marks Pl,"Manhattan, NY 10003",1988-09-08,838-830-6960,America/New_York,40.72804,-73.987120

In [28]:
phone = {
    "ABC" : "2",
    "DEF" : "3",
    "GHI" : "4",
    "JKL" : "5",
    "MNO" : "6",
    "PQRS" : "7",
    "TUV" : "8",
    "WXYZ" : "9"
}

In [29]:
full_phone = {c : v for k, v in phone.items() for c in k}
full_phone

{'A': '2',
 'B': '2',
 'C': '2',
 'D': '3',
 'E': '3',
 'F': '3',
 'G': '4',
 'H': '4',
 'I': '4',
 'J': '5',
 'K': '5',
 'L': '5',
 'M': '6',
 'N': '6',
 'O': '6',
 'P': '7',
 'Q': '7',
 'R': '7',
 'S': '7',
 'T': '8',
 'U': '8',
 'V': '8',
 'W': '9',
 'X': '9',
 'Y': '9',
 'Z': '9'}

In [54]:
last_names = customers["name"].str.split(" ").str[1].str.upper()
last_names.head()

0      ALVAREZ
1       HOWELL
2          ALI
3    RODRIGUEZ
4    WILKINSON
Name: name, dtype: object

In [55]:
phone_numbers = customers["phone"].str.replace("-", "")
phone_numbers.head()

0    3153775031
1    6805378725
2    3158466054
3    5162752292
4    8388306960
Name: phone, dtype: object

In [58]:
def find_investigators_number(last_names, phone_numbers):
    for last_name, num in zip(last_names, phone_numbers):
        if len(last_name) == 10 and '1' not in num and '0' not in num:
            name_num = ''
            for c in last_name:
                name_num += full_phone[c]

            if name_num == num:
                break

    return num[:3] + "-" + num[3:6] + "-" + num[6:]

In [59]:
find_investigators_number(list(last_names), list(phone_numbers))

'826-636-2286'