# Hanukka of Data -- Day 3: The Neighbor

In [1]:
import pandas as pd

In [2]:
customers = pd.read_csv("../data/5784/noahs-customers.csv")

In [3]:
rabbit_years = [
    1903,
    1915,
    1927,
    1939,
    1951,
    1963,
    1975,
    1987,
    1999
]

In [4]:
cancer_range = ["-06-22", "-07-22"]

In [5]:
pd.to_datetime(customers["birthdate"]).head()

0   1958-01-23
1   1956-12-03
2   2001-09-20
3   1959-07-10
4   1988-09-08
Name: birthdate, dtype: datetime64[ns]

In [6]:
birthdates = pd.to_datetime(customers["birthdate"])

rabbits = customers.loc[birthdates.dt.year.isin(rabbit_years)]
rabbits.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 9 to 8237
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   customerid    714 non-null    int64
 1   name          714 non-null    object
 2   address       714 non-null    object
 3   citystatezip  714 non-null    object
 4   birthdate     714 non-null    object
 5   phone         714 non-null    object
 6   timezone      714 non-null    object
 7   lat           714 non-null    float64
 8   long          714 non-null    float64
dtypes: float64(2), int64(1), object(6)
memory usage: 55.8+ KB

In [7]:
contractor_neighborhood = customers.loc[customers["phone"] == "332-274-4185", "citystatezip"].values[0]
contractor_neighborhood

'Jamaica, NY 11435'

In [8]:
neighbors = rabbits.loc[(rabbits["citystatezip"] == contractor_neighborhood)]

In [9]:
birthdates = pd.to_datetime(neighbors["birthdate"])

cancer_start = pd.to_datetime(pd.to_datetime(neighbors["birthdate"]).dt.year.astype("str") + cancer_range[0])
cancer_end = pd.to_datetime(pd.to_datetime(neighbors["birthdate"]).dt.year.astype("str") + cancer_range[1])

neighbors.loc[(cancer_start <= birthdates) & (birthdates <= cancer_end)]

,customerid,name,address,citystatezip,birthdate,phone,timezone,lat,long
1549,2550,Robert Morton,145-51 107th Ave,"Jamaica, NY 11435",1999-07-08,917-288-9635,America/New_York,40.68959,-73.80487